@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");


/** {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #242333;
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
*/
/*.movie-container {
  margin: 20px 0px;
}

.movie-container select {
  background-color: #fff;
  border: 0px;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.row {
  display: flex;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}*/


.screen-window{
  margin: 0;
  padding: 0;
  background-color: #242333;
  width : 100vw;
  height: 100vh;
  color: #fff;
}

.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
} 

.container {
  perspective: 2400px;
}

.screen {
  background-color: #fff;
  height: 50vh;
  width:  80vw;
  margin: 15px auto;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.row{
  display: grid;
  grid-template-columns: repeat(20, 1fr);
 
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.seat_selected {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  background-color: #6feaf6;
}

.seat:nth-of-type(4) {
  margin-right: 25rem;
}

.price {
  display: flex;
  flex-direction:  row;
}

button {
    background: crimson;
    border-radius: 20px;
    border: none;
    color: #fff;
    width: 20%;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px;
    font-size: 17px;
    margin: 15px 1px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    text-decoration: none;
}

h3{
  font-size: 1.2rem;
  font-weight: 600;
  color: crimson;
  text-transform: uppercase;
  padding-left : 6rem;
}

.screen img{
  object-fit: cover;
  height: 50vh;
  width:  80vw;
}


p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}

.seat:nth-of-type(1) {
  margin-right: 18px;
}